node-red-flows/onesaitplatform-flow.txt
[{"id":"cc6dcc14.bb86","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e02cb9f2.fdd858","type":"onesaitplatform-notification-endpoint","z":"cc6dcc14.bb86","name":"","url":"/SCMEvent","method":"post","ontology":"SCMEvent","operationType":"INSERT","x":210,"y":220,"wires":[["a4a436a2.e0a788","431c7ba2.1855d4"]]},{"id":"48cf5ece.ff58f","type":"http request","z":"cc6dcc14.bb86","name":"Petición transferencia propiedad de asset","method":"POST","ret":"obj","url":"http://ec2-18-224-165-102.us-east-2.compute.amazonaws.com:3000/api/es.uah.myscmnetwork.SCMTrade","tls":"","x":274.00000762939453,"y":300.00000286102295,"wires":[["b18cc85f.e18318"]]},{"id":"a4a436a2.e0a788","type":"function","z":"cc6dcc14.bb86","name":"","func":"const { operationModel } = msg.payload.notificationModel;\n\nconst data = JSON.parse(operationModel.body);\n\nconst assetId = data.assetId;\nconst portalId = data.portalId;\n\nmsg.payload = {\n  '$class': 'es.uah.myscmnetwork.SCMTrade',\n  asset: `resource:es.uah.myscmnetwork.SCMAsset#${assetId}`,\n  portal: `resource:es.uah.myscmnetwork.SCMPortal#${portalId}`,\n};\n\nmsg.headers = {\n  'x-api-key': '723Ju56LhjUuiI7LMXsvK8s8wll6ZOpz'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":220,"wires":[["48cf5ece.ff58f"]]},{"id":"431c7ba2.1855d4","type":"debug","z":"cc6dcc14.bb86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":512.1000556945801,"y":126.00000095367432,"wires":[]},{"id":"b18cc85f.e18318","type":"debug","z":"cc6dcc14.bb86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":547,"y":300.00000286102295,"wires":[]}]